html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

/* A6 105 x 148 */
.paper {
    background-size: cover;
    float: left;
}

.badge {
    float: left;
}

.name {
    padding-top: 4.5cm;
    left: 0px;
    right: 0px;
    text-align: center;
    font-size: 22pt;
    font-family: "bebas-neue";
    color: #333;
}

.team, .society {
    font-family: helvetica;
    font-size: 90%;
    color: #333;
    text-align: right;
    margin-right: 10%;
}

.team {
    margin-top: 1cm;
}

.society {
    margin-top: 0.1cm;
}

.code {
    padding-top: 7.6cm;
    margin-left: -1cm;
    text-align: center;
}

.clear {
    clear: both;
}