html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

/* A6 105 x 148 */
.paper {
    background-size: cover;
    float: left;
}

.badge {
    float: left;
}

.name {
    margin-top: 0.5cm;
    padding-left: 0.5cm;
    padding-right: 0.5cm;
    text-align: center;
    font-size: 20pt;
    color: #333;
    height: 1cm;
    overflow: hidden;
    font-family: trebuchetms;
    font-weight: bold;
    line-height: 100%;
}

.team, .society {
    font-family: trebuchetms;
    font-weight: bold;
    font-size: 90%;
    color: #333;
    text-align: center;
    margin-right: 10%;
    overflow: hidden;
    max-width: 10cm;
    padding-left: 0.5cm;
    padding-right: 0.5cm;
}

.team {
    margin-top: 0cm;
}

.society {
    margin-top: 0cm;
}

.dietary {
    font-family: trebuchetms;
    font-weight: bold;
    padding-top: 0.8cm;
    font-size: 16pt;
    color: #333;
    text-align: right;
    margin-right: 13%;
}

.code {
    text-align: center;
}

.clear {
    clear: both;
}