/**
 * Regions
 */

/* Europe */
.region .NOEU {
    background-color: #28334C;
}

.region .WEEU {
    background-color: #4B6FC8;
}

.region .SOEU {
    background-color: #47689B;
}

.region .EAEU {
    background-color: #616B7F;
}

/* Asia */
.region .CEAS {
    background-color: #DE9079;
    color: #333333;
}

.region .EAAS {
    background-color: #C0334F;
}

.region .WEAS {
    background-color: #DA4A2F;
}

.region .SOAS {
    background-color: #AB5C4F;
}

.region .SEAS {
    background-color: #EC4F66;
}

/* Oceanien */
.region .AUZE {
    background-color: #CE50E1;
}

.region .MICR {
    background-color: #8B5EA4;
}

.region .MELA {
    background-color: #8E64DA;
}

.region .POLY {
    background-color: #C884DC;
}

/* Africa */
.region .NOAF {
    background-color: #638853;
}

.region .WEAF {
    background-color: #75DE3B;
    color: #333;
}

.region .CEAF {
    background-color: #99D995;
    color: #333;
}

.region .EAAF {
    background-color: #5C9D34;
}

.region .SOAF {
    background-color: #88E070;
    color: #333;
}

/* Americas */
.region .NOAM {
    background-color: #D6CA73;
    color: #333333;
}

.region .CEAM {
    background-color: #D3D239;
    color: #333;
}

.region .CARI {
    background-color: #878033;
}

/* South America */
.region .SOAM {
    background-color: #42DDBB;
    color: #333;
}

/* Antarktica */
.region .ANTA {
    background-color: #ffffff;
    color: #333333;
    border: 1px solid #AAA;
}

/**
 * Strength
 */
.strength .adj {
    color: #444;
}

.strength .st0 {
    background-color: #FF0000;
}

.strength .st1 {
    background-color: #FF3400;
}

.strength .st2 {
    background-color: #FF6900;
}

.strength .st3 {
    background-color: #FF9E00;
}

.strength .st4 {
    background-color: #FF9E00;
}

.strength .st5 {
    background-color: #F7FF00;
}

.strength .st6 {
    background-color: #C2FF00;
}

.strength .st7 {
    background-color: #8DFF00;
}

.strength .st8 {
    background-color: #58FF00;
}

.strength .st9 {
    background-color: #24FF00;
}

/**
 * Gender
 */
.gender .MALE {
    background-color: #1e1e69;
}

.gender .FEMA {
    background-color: #c43939;
}

.gender .OTHE {
    background-color: #39c439;
}

.gender .NORE {
    background-color: #CCCCCC;
    color: #333;
}