.clear {
    clear: both;
}

.not-set {
    display: none;
}

.help_popup {
    display: none;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

html, body {
    height: 100%;
}

body {
    padding-top: 50px;
    position: relative;
}

body.movedown {
    padding-top: 100px;
}

.swingIndicator {
    font-weight: bold;
    font-size: 105%;
    top: -3px;
}

/** BOOTSTRAP HACKS **/

.navbar-sub .navbar-brand {
    overflow: hidden;
}

/* Give me full with! */
@media (min-width: 1300px) {
    .container {
        width: 1300px !important;
    }
}

.alert {
    background-image: -webkit-repeating-linear-gradient(-65deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%);
    background-image: -moz-repeating-linear-gradient(-65deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%);
    background-image: -ms-repeating-linear-gradient(-65deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%);
    background-image: -o-repeating-linear-gradient(-65deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%);
    background-image: repeating-linear-gradient(-65deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%);
    background-size: 30px 60px;
}

@media (max-width: 767px) {
    .tournament_title h1 {
        margin-top: 0px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .navbar .navbar-header, .navbar-sub .navbar-header {
        display: none;
    }

    .nav > li > a {
        padding: 15px 7px !important;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .navbar-sub .navbar-header {
        width: 230px;
    }

}

@media (min-width: 1200px) {
    .navbar-sub .navbar-header {
        width: 332px;
    }

}

/***********************/

.navbar.navbar-sub {
    top: 50px;
}

.nav-tabs {
    margin-bottom: 20px;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
    position: relative;
}

.wrap > .container {
    padding: 20px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.jumbotron {
    text-align: center;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.form-group.required .control-label:after {
    content: " *";
    color: #C00;
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.flashes {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1040;
}

.flashes .alert {
    width: 100%;
    padding: 14px;
    margin: 0;
    border-radius: 0px;
    text-align: center;
}

.flashes div.alert:last-of-type {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.site-checkin .msg {
    padding: 30px;
    font-size: 25px;
}

#tournament-missing .table td {
    padding: 3px;
}

#team-table-container b {
    text-decoration: underline;
}

/***** Tournament *******/

#tournament_title {
    margin: 0px 0;
}

.balance-frame {
    width: 60px;
    height: 60px;
    border: 1px solid #AAAAAA;
    border-radius: 3px;
}

.tournament-index .tournament {
    border-radius: 8px;
    border: #DDD 1px solid;
    padding: 20px;
    margin: 20px 5px;
}

.tournament-index .tournament h2 {

}

.tournament-index .tournament .details {
    padding-top: 23px;
}

.tournament-search .buttons {
    padding-top: 25px;
}

#team-table-container {
    position: relative;
}

#drawdisplay {
    position: absolute;
    top: 10%;
}

/****** RESULT ******/

.result-form input {
    width: auto;
    display: inline-block;
    position: absolute;
    right: 20px;
}

.result-confirm input {
    width: auto;
    display: inline-block;
    position: absolute;
    right: 20px;
}

#debates.list-view .venue {
    margin: 10px 0;
}

#debates.list-view .venue .status {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid gray;
    float: left;
    margin-right: 5px;
}

.status.entered {
    background: green;
}

.status.missing {
    background: yellow;
}

/** LOADER */
#loader {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999999;
}

#loader .container {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

#loader .machine {
    width: 60vmin;
    fill: #fff;
}

#loader .small-shadow, .medium-shadow, .large-shadow {
    fill: rgba(0, 0, 0, 0.05);
}

#loader .small {
    -webkit-transform-origin: 100.136px 225.345px;
    -ms-transform-origin: 100.136px 225.345px;
    transform-origin: 100.136px 225.345px;
}

#loader .small-shadow {
    -webkit-transform-origin: 110.136px 235.345px;
    -ms-transform-origin: 110.136px 235.345px;
    transform-origin: 110.136px 235.345px;
}

#loader .medium {
    -webkit-transform-origin: 254.675px 379.447px;
    -ms-transform-origin: 254.675px 379.447px;
    transform-origin: 254.675px 379.447px;
}

#loader .medium-shadow {
    -webkit-transform-origin: 264.675px 389.447px;
    -ms-transform-origin: 264.675px 389.447px;
    transform-origin: 264.675px 389.447px;
}

#loader .large {
    -webkit-transform-origin: 461.37px 173.694px;
    -ms-transform-origin: 461.37px 173.694px;
    transform-origin: 461.37px 173.694px;
}

#loader .large-shadow {
    -webkit-transform-origin: 471.37px 183.694px;
    -ms-transform-origin: 471.37px 183.694px;
    transform-origin: 471.37px 183.694px;
}

/** LOADER ENDE */