#tournament_title {
    margin: 20px 0;
}

.balance-frame {
    width: 60px;
    height: 60px;
    border: 1px solid #AAAAAA;
    border-radius: 3px;
}

.tournament-index .tournament {
    border-radius: 8px;
    border: #DDD 1px solid;
    padding: 20px;
    margin: 20px 5px;
}

.tournament-index .tournament h2 {

}

.tournament-index .tournament .details {
    padding-top: 23px;
}

.tournament-search .buttons {
    padding-top: 25px;
}

#team-table-container {
    position: relative;
}

#drawdisplay {
    position: absolute;
    top: 10%;
}