.leftcolumn {
    padding-top: 20px;
}

.leftcolumn .row {
    padding: 10px 0;
    font-size: 16px;
}

.tournament-index .tournament {
    border-radius: 8px;
    border: #DDD 1px solid;
    padding: 20px;
    margin: 20px 5px;
}

.tournament-index .tournament h2 {

}

.tournament-index .tournament .details {
    padding-top: 23px;
}

.tournament-search .buttons {
    padding-top: 25px;
}

#team-table-container {
    position: relative;
}

#drawdisplay {
    position: absolute;
    top: 10%;
}