Options -Indexes

<IfModule mod_headers.c>
    Header set Connection keep-alive
</IfModule>

<IfModule mod_deflate.c>
  # compress text, html, javascript, css, xml:
  AddOutputFilterByType DEFLATE application/javascript
  AddOutputFilterByType DEFLATE application/rss+xml
  AddOutputFilterByType DEFLATE application/vnd.ms-fontobject
  AddOutputFilterByType DEFLATE application/x-font
  AddOutputFilterByType DEFLATE application/x-font-opentype
  AddOutputFilterByType DEFLATE application/x-font-otf
  AddOutputFilterByType DEFLATE application/x-font-truetype
  AddOutputFilterByType DEFLATE application/x-font-ttf
  AddOutputFilterByType DEFLATE application/x-javascript
  AddOutputFilterByType DEFLATE application/xhtml+xml
  AddOutputFilterByType DEFLATE application/xml
  AddOutputFilterByType DEFLATE font/opentype
  AddOutputFilterByType DEFLATE font/otf
  AddOutputFilterByType DEFLATE font/ttf
  AddOutputFilterByType DEFLATE image/svg+xml
  AddOutputFilterByType DEFLATE image/x-icon
  AddOutputFilterByType DEFLATE text/css
  AddOutputFilterByType DEFLATE text/html
  AddOutputFilterByType DEFLATE text/javascript
  AddOutputFilterByType DEFLATE text/plain
  AddOutputFilterByType DEFLATE text/xml

  # Remove browser bugs (only needed for really old browsers)
  BrowserMatch ^Mozilla/4 gzip-only-text/html
  BrowserMatch ^Mozilla/4\.0[678] no-gzip
  BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
  Header append Vary User-Agent
</IfModule>

<IfModule mod_expires.c>
    <IfModule mod_headers.c>
        Header unset Pragma
        FileETag None
        Header unset ETag

        # Turn on Expires and set default to 0
        ExpiresActive On
        ExpiresDefault A0

        # Set up caching on media files for 1 year (forever?)
        <FilesMatch "\.(flv|ico|pdf|avi|mov|ppt|doc|mp3|wmv|wav|gif|jpg|jpeg|png|swf)$">
            ExpiresDefault A29030400
            Header append Cache-Control "public"
        </FilesMatch>

        # Set up 31 days caching on commonly updated files
        <FilesMatch "\.(xml|txt|html|js|css)$">
            ExpiresDefault A2678400
            Header append Cache-Control "proxy-revalidate"
        </FilesMatch>

        # Force no caching for dynamic files
        <FilesMatch "\.(php|cgi|pl|htm)$">
            ExpiresActive Off
            Header set Cache-Control "private, no-cache, no-store, proxy-revalidate, no-transform"
            Header set Pragma "no-cache"
        </FilesMatch>
    </IfModule>
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteBase /

#redirect every request to https - except if tabbie.dev or localhost domain for local testing
  RewriteCond %{HTTP_HOST} !\.dev$
  RewriteCond %{HTTP_HOST} !=localhost
  RewriteCond %{HTTP_HOST} !=api.localhost
  RewriteCond %{HTTP_HOST} !=127.0.0.1
  RewriteCond %{HTTPS} off
  RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

#rewrite for api
  RewriteCond %{HTTP_HOST} ^api.
  RewriteRule ^(.*)$ api/web/$1 [L]

#rewrite for backend
  RewriteCond %{REQUEST_URI} ^/master
  RewriteRule ^master(.*)$ backend/web/$1 [L]

#rewrite for everything else aka frontend
  RewriteCond %{REQUEST_URI} !^/master
  RewriteRule ^(.*)$ frontend/web/$1 [L]
</IfModule>

# Deny accessing below extensions
<Files ~ "(.json|.lock|.git)">
Order allow,deny
Deny from all
</Files>

# Deny accessing dot files
RewriteRule (^\.|/\.) - [F]